body {
  overflow-x: hidden;/* Hide horizontal scrollbar */ 
}
li {
  list-style: none;
}
.about-image {
  background: url('./choosee.jpg') no-repeat center;
  background-size: cover;
}
.overlay-all {
  background: rgba(0, 0, 0, 0.5);
}

.border-about {
  padding: 3em;
  border: 1px solid white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
